@if (status !== undefined && parsedTemplate) {
  <evf-dynamic-form
    [template]="parsedTemplate"
    [elementLayout]="elementLayout"
    [submitted]="submitted"
    [showButtons]="false"
    [metadata]="{
    pssActive: status
    }"
    (changeElementGroup)="setElementGroup($event)"
  ></evf-dynamic-form>
}

<ng-template #elementLayout let-content="content" let-elementControl="elementControl" let-label="label" let-body="body" let-subLabel="subLabel">
  <div [class.evf-element-wrapper]="!['row', 'radio'].includes(elementControl.parent?.element?.viewType)">
    <div>
      <ng-container *ngTemplateOutlet="label"></ng-container>
    </div>
    <div>
      <ng-container *ngTemplateOutlet="body"></ng-container>
      <ng-container *ngTemplateOutlet="subLabel"></ng-container>
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </div>
</ng-template>
