<form (ngSubmit)="createPrescriptionModel()" [formGroup]="formGroup">
  <h1 mat-dialog-title>{{ 'prescription.model.create.dialog.title' | translate }}</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'prescription.model.create.dialog.label' | translate }}</mat-label>
      <input
        [formControlName]="'name'"
        matInput
        data-cy="prescription-modal-dialog-input"
      />
      @if (formGroup.get('name')?.hasError('required')) {
        <mat-error>{{ 'common.mandatory' | translate }}</mat-error>
      }
      @if (formGroup.get('name')?.hasError('uniqueName')) {
        <mat-error>{{ 'prescription.model.create.dialog.labelNotUnique' | translate }}</mat-error>
      }
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button color="accent" data-cy="dialog-confirm-button" type="submit"
            mat-raised-button
            [disabled]="formGroup.get('name')?.invalid">{{ 'common.confirm' | translate }}
    </button>
    <button [mat-dialog-close]="undefined" data-cy="dialog-cancel-button" mat-flat-button
            type="button">{{ 'common.cancel' | translate }}
    </button>
  </div>
  @if (modalState === LoadingStatus.LOADING) {
    <app-overlay-spinner mode="dialog"></app-overlay-spinner>
  }
</form>

