@if (currentUserData && patientData && performerTaskData && prescriptionData){
  @let prescription = prescriptionData;
  @let performerTask = performerTaskData;
  @let patient = patientData;
  @let currentUser = currentUserData;

  @if (performerTask === currentPerformerTask) {
    <div class="button-group">
      @if (prescription | canStartTreatment:performerTask) {
        <button
          (click)="service.openStartExecutionDialog(prescription, performerTask)"
          mat-raised-button
          type="button"
          color="accent"
          data-cy="prescription-start-execution-button"
        >
          <mat-icon>play_circle</mat-icon>
          {{ 'prescription.startExecution.action' | translate }}
        </button>
      }
      @if (prescription | canFinishTreatment:performerTask) {
        <button
          (click)="service.openFinishExecutionDialog(prescription, performerTask)"
          mat-raised-button
          type="button"
          color="accent"
          data-cy="prescription-finish-execution-button"
        >
          <mat-icon>event_busy</mat-icon>
          {{ 'prescription.finishExecution.action' | translate }}
        </button>
      }
      @if (prescription | canCancelTreatment:performerTask:currentUser) {
        <button
          (click)="service.openCancelExecutionDialog(prescription, performerTask, patient)"
          mat-raised-button
          type="button"
          color="accent"
          data-cy="prescription-cancel-execution-button"
        >
          <mat-icon>cancel</mat-icon>
          {{ 'prescription.cancelExecution.action' | translate }}
        </button>
      }
      @if (prescription | canTransferAssignation:performerTask:currentUser) {
        <button
          (click)="service.openTransferAssignationDialog(prescription, performerTask)"
          mat-raised-button
          type="button"
          data-cy="prescription-transfer-assignation-button"
        >
          <mat-icon>forward</mat-icon>
          {{ 'prescription.transfer' | translate }}
        </button>
      }
    </div>
  }
}
