@use '@myhealth-belgium/design-kit' as mh;

@include mh.use-font-material-symbols(
    true,
    url('@reuse/assets/fonts/MatSymbols-Rounded.ttf'),
    'Material Symbols Rounded',
      (
        'material-icons',
        'material-symbols',
      ));
@include mh.use-globals();
@include mh.use-classes();
@include mh.use-all-components();
@include mh.override-mat-dialog();
@include mh.override-mat-form-field();

:host {
  /* Body Large */
  --mat-sys-body-large: #{mh.$font-weight-regular} #{mh.$font-size-m} / #{mh.calculateRem(22px)} var(--mh-default-font-family, #{mh.$font-stack});
  --mat-sys-body-large-font: var(--mh-default-font-family, #{mh.$font-stack});
  --mat-sys-body-large-line-height: #{mh.calculateRem(22px)};
  --mat-sys-body-large-size: #{mh.$font-size-m};
  --mat-sys-body-large-tracking: 0.016rem;
  --mat-sys-body-large-weight: #{mh.$font-weight-regular};

  /* Label Large */
  --mat-sys-label-large: #{mh.$font-weight-medium} #{mh.$font-size-s} / #{mh.calculateRem(28px)} var(--mh-default-font-family, #{mh.$font-stack});
  --mat-sys-label-large-font: var(--mh-default-font-family, #{mh.$font-stack});
  --mat-sys-label-large-line-height: #{mh.calculateRem(28px)};
  --mat-sys-label-large-size: #{mh.$font-size-m};
  --mat-sys-label-large-tracking: #{mh.calculateRem(0.04px)};
  --mat-sys-label-large-weight: #{mh.$font-weight-semibold};
  --mat-sys-label-large-weight-prominent: #{mh.$font-weight-bold};

  /* Heading Small */
  --mat-sys-headline-small: #{mh.$font-weight-regular} #{mh.$font-size-2xl} / 2rem var(--mh-default-font-family, #{mh.$font-stack});
  --mat-sys-headline-small-font: var(--mh-default-font-family, #{mh.$font-stack});
  --mat-sys-headline-small-line-height: 2rem;
  --mat-sys-headline-small-size: #{mh.$font-size-2xl};
  --mat-sys-headline-small-tracking: 0;
  --mat-sys-headline-small-weight: #{mh.$font-weight-regular};

  /* Buttons */
  --mat-sys-primary: #{mh.$primary-40};
  --mat-sys-on-primary: #{mh.$primary-100};
  --mat-standard-button-toggle-text-color:#{mh.$mat-primary-700};
  --mat-standard-button-toggle-divider-color:#{mh.$mat-primary-700};
  --mat-sys-corner-full: #{mh.$border-radius-round};
  --mat-text-button-horizontal-padding: #{mh.$spacing-l};

  /* Dialog */
  --mdc-dialog-subhead-color: #{mh.$mat-primary-900};
  --mdc-dialog-subhead-size: #{mh.$font-size-m};
  --mdc-dialog-subhead-weight: #{mh.$font-weight-semibold};

  /* Form Fields */
  --mdc-outlined-text-field-error-outline-color: #{mh.$error-30};
  --mdc-outlined-text-field-outline-width: #{mh.calculateRem(1px)};
  --mdc-outlined-text-field-error-focus-outline-color: #{mh.$error-30};
  --mdc-outlined-text-field-error-hover-outline-color: #{mh.$error-30};
  --mdc-outlined-text-field-container-shape: #{mh.$border-radius-s};
  --mat-form-field-error-text-color: #{mh.$error-30};
  --mat-standard-button-toggle-selected-state-text-color: #{mh.$primary-30};
  --mat-sys-body-small-size: #{mh.$font-size-xs};
  --mat-standard-button-toggle-height: 44px;
  --mdc-outlined-text-field-outline-color: #{mh.$neutral-50};
  --mdc-outlined-text-field-input-text-color: #{mh.$typography-brand-neutral-dark};
  --mat-datepicker-calendar-container-shape: #{mh.$border-radius-m};
  --mat-sys-body-medium-font: #{mh.$font-stack};
  --mat-sys-body-medium-size: #{mh.$font-size-s};
  --mat-sys-surface-container-high: #{mh.$primary-100};
  --mat-sys-on-surface-variant: #414753;
  --mdc-text-button-label-text-color: var(--mat-datepicker-calendar-period-button-text-color, var(--mat-sys-on-surface-variant));
  --mat-datepicker-calendar-container-elevation-shadow: rgba(0, 0, 0, 0.12) 0px 1px 9px 0px;
  --mat-datepicker-calendar-period-button-icon-color: #{mh.$primary-40};
  --mat-sys-hover-state-layer-opacity: 0.08;
  --mat-datepicker-calendar-date-hover-state-background-color: #{mh.$primary-95};
  --mat-sys-on-surface: #{mh.$neutral-10};
  --mat-sys-pressed-state-layer-opacity: 0.12;
  --mat-icon-button-focus-state-layer-opacity: 0;
  --mat-form-field-container-vertical-padding: 12px;
  --mat-form-field-container-height: 46px;
  --mat-sys-surface-container: #{mh.$primary-100};

  /* expansion panel */
  --mat-expansion-header-expanded-state-height: #{mh.calculateRem(70px)};
  --mat-expansion-container-shape: 0;
}
