:host ::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    display: none ;
  }

  .mat-mdc-standard-chip.mat-mdc-chip.mdc-evolution-chip--with-trailing-action {
    .mdc-evolution-chip__action--primary {
      overflow: hidden;
    }

    .mat-mdc-chip-action-label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}




