@if(intent.toLowerCase() === 'order') {
  @if(viewStatePrescriptions$(); as prescriptionState) {
    <div class="container">
      <app-error-card
        *ifStatusError="prescriptionState"
        [message]="'prescription.errors.failedToLoadPrescriptions' | translate"
        [error]="prescriptionState.error.prescriptions || prescriptionState.error.templates"
        (clickRetry)="retryFailedCalls(prescriptionState.error)"
        data-cy="failed-prescription-error-message"
      ></app-error-card>

      <app-overlay-spinner *ifStatusLoading="prescriptionState"  [mode]="prescriptionState.status === 'UPDATING' ? 'page' : 'inline'"></app-overlay-spinner>

      <ng-container *ifStatusSuccess="prescriptionState">
        <div>
          <div class="page-info">
            <app-active-page
              data-cy="numberOfPrescriptions"
              [page]="prescriptionState.params!['prescriptions']?.['page'] || 1"
              [pageSize]="prescriptionState.params!['prescriptions']?.['pageSize'] || 10"
              [total]="prescriptionState.data!.prescriptions?.total || 0"
              [label]="'prescription.pagination.prescriptions' | translate:{count:prescriptionState.data!.prescriptions?.total || 0}"
            ></app-active-page>

            <div class="page-size">
              {{'prescription.pagination.pageSize' | translate}}:
              <mat-select
                data-cy="select-prescription-pagination"
                [value]="prescriptionState.params!['prescriptions']?.['pageSize'] || 10"
                (selectionChange)="loadData(1, $event.value)"
              >
                <mat-option [value]="10">10</mat-option>
                <mat-option [value]="15">15</mat-option>
                <mat-option [value]="20">20</mat-option>
                <mat-option [value]="25">25</mat-option>
              </mat-select>
            </div>
          </div>

          @if(prescriptionState.data?.prescriptions) {
            <app-prescriptions-table
              [prescriptions]="prescriptionState.data!.prescriptions!"
              (clickPrescription)="clickOpenPrescriptionDetails.emit($event)"
            ></app-prescriptions-table>
          }

          <div class="pagination">
            <app-paginator
              [total]="prescriptionState.data!.prescriptions?.total || 0"
              [page]="prescriptionState.params!['prescriptions']?.['page'] || 1"
              [pageSize]="prescriptionState.params!['prescriptions']?.['pageSize'] || 10"
              (changePage)="loadData($event, prescriptionState.params!['prescriptions']?.['pageSize'])"
            ></app-paginator>
          </div>
        </div>
      </ng-container>

    </div>
  }

} @else if (intent.toLowerCase() === 'proposal') {
  @if(viewStateProposals$(); as proposalState) {
    <div class="container">
      <app-error-card
        *ifStatusError="proposalState"
        [message]="'proposal.errors.failedToLoadProposals' | translate"
        [error]="proposalState.error.proposals || proposalState.error.templates"
        (clickRetry)="retryFailedCalls(proposalState.error)"
        data-cy="failed-prescription-error-message"
      ></app-error-card>

      <app-overlay-spinner *ifStatusLoading="proposalState" [mode]="proposalState.status === 'UPDATING' ? 'page' : 'inline'"></app-overlay-spinner>

      <ng-container *ifStatusSuccess="proposalState">
          <div class="page-info">
            <app-active-page
              data-cy="numberOfProposals"
              [page]="proposalState.params!['proposals']?.['page'] || 1"
              [pageSize]="proposalState.params!['proposals']?.['pageSize'] || 10"
              [total]="proposalState.data!.proposals?.total || 0"
              [label]="'proposal.pagination.proposals' | translate:{count:proposalState.data!.proposals?.total || 0}"
            ></app-active-page>

            <div class="page-size">
              {{'proposal.pagination.pageSize' | translate}}:
              <mat-select
                data-cy="select-proposals-pagination"
                [value]="proposalState.params!['proposals']?.['pageSize'] || 10"
                (selectionChange)="loadData(1, $event.value)"
              >
                <mat-option [value]="10">10</mat-option>
                <mat-option [value]="15">15</mat-option>
                <mat-option [value]="20">20</mat-option>
                <mat-option [value]="25">25</mat-option>
              </mat-select>
            </div>
          </div>

          @if(proposalState.data?.proposals) {
            <app-prescriptions-table
              [prescriptions]="proposalState.data!.proposals!"
              (clickPrescription)="clickOpenPrescriptionDetails.emit($event)"
            ></app-prescriptions-table>
          }
          <div class="pagination">
            <app-paginator
              [total]="proposalState.data!.proposals?.total || 0"
              [page]="proposalState.params!['proposals']?.['page'] || 1"
              [pageSize]="proposalState.params!['proposals']?.['pageSize'] || 10"
              (changePage)="loadData($event, proposalState.params!['proposals']?.['pageSize'])"
            ></app-paginator>
          </div>
      </ng-container>
    </div>
  }
} @else if (intent.toLowerCase() === 'model') {
  @if(viewStateModels$(); as modelState) {
    <div class="container">
      <app-error-card
        *ifStatusError="modelState"
        [message]="'models.errors.failedToLoadModels' | translate"
        [error]="modelState.error.models || modelState.error.templates"
        (clickRetry)="retryFailedCalls(modelState.error)"
        data-cy="failed-models-error-message"
      ></app-error-card>

      <app-overlay-spinner *ifStatusLoading="modelState" [mode]="modelState.status === 'UPDATING' ? 'page' : 'inline'"></app-overlay-spinner>

      <ng-container *ifStatusSuccess="modelState">
        <div class="page-info">
          <app-active-page
            data-cy="numberOfModels"
            [page]="modelState.params!['models']?.['page'] || 1"
            [pageSize]="modelState.params!['models']?.['pageSize'] || 10"
            [total]="modelState.data!.models?.totalElements || 0"
            [label]="'prescription.model.pagination.models' | translate:{count:modelState.data!.models?.totalElements || 0}"
          ></app-active-page>

          <div class="page-size">
            {{'prescription.model.pagination.pageSize' | translate}}:
            <mat-select
              data-cy="select-models-pagination"
              [value]="modelState.params!['models']?.['pageSize'] || 10"
              (selectionChange)="loadData(1, $event.value)"
            >
              <mat-option [value]="10">10</mat-option>
              <mat-option [value]="15">15</mat-option>
              <mat-option [value]="20">20</mat-option>
              <mat-option [value]="25">25</mat-option>
            </mat-select>
          </div>
        </div>

        @if(modelState.data?.models) {
          <app-prescription-models-table
            [prescriptionModels]="modelState.data!.models.content"
            (clickPrescriptionModel)="clickOpenModelDetails.emit($event)"
            [page]="modelState.params!['models']?.['page'] || 1"
            [pageSize]="modelState.params!['models']?.['pageSize'] || 10"
          ></app-prescription-models-table>
        }
        <div class="pagination">
          <app-paginator
            [total]="modelState.data!.models?.totalElements || 0"
            [page]="modelState.params!['models']?.['page'] || 1"
            [pageSize]="modelState.params!['models']?.['pageSize'] || 10"
            (changePage)="loadData($event, modelState.params!['models']?.['pageSize'])"
          ></app-paginator>
        </div>
      </ng-container>
    </div>
  }
}
