@if (prescriptionServiceData && performerTaskServiceData && patientServiceData() && currentUserServiceData){

  @let prescriptionData = prescriptionServiceData;
  @let performerTaskData = performerTaskServiceData;
  @let patientData = patientServiceData();
  @let currentUserData = currentUserServiceData;

  <div class="button-group">
      @if (patientData?.ssin && (prescriptionData | canRejectAssignation : performerTaskData : patientData?.ssin : currentUserData)) {
      <button
        type="button"
        (click)="service.openRejectAssignationDialog(prescriptionData, performerTaskData, patientData)"
        mat-icon-button
        data-cy="prescription-reject-assignation-button"
        [attr.aria-label]="'prescription.ariaLabel.reject' | translate"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    }
    @if (prescriptionData | canInterruptTreatment : performerTaskData : currentUserData) {
      <button
        type="button"
        (click)="service.openInterruptExecutionDialog(prescriptionData, performerTaskData, patientData)"
        mat-icon-button
        data-cy="prescription-interrupt-execution-button"
        [attr.aria-label]="'prescription.ariaLabel.interrupt' | translate"
      >
        <mat-icon>pause_circle</mat-icon>
      </button>
    }
    @if (patientData && (prescriptionData | canRestartTreatment : performerTaskData : performerTaskData.careGiverSsin)) {
      <button
        type="button"
        (click)="service.openRestartExecutionDialog(prescriptionData, performerTaskData, patientData)"
        mat-icon-button
        data-cy="prescription-restart-execution-button"
        [attr.aria-label]="'prescription.ariaLabel.restart' | translate"
      >
        <mat-icon>play_circle</mat-icon>
      </button>
    }
  </div>
}
