@if (prescriptionData && performerTaskData && patientData && currentUserData){

  @let prescription = prescriptionData;
  @let performerTask = performerTaskData;
  @let patient = patientData;
  @let currentUser = currentUserData;

  <div class="button-group">
    @if (prescription | canRejectAssignation : performerTask : patient?.ssin : currentUser) {
      <button
        type="button"
        (click)="service.openRejectAssignationDialog(prescription, performerTask, patient)"
        mat-icon-button
        data-cy="prescription-reject-assignation-button"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    }
    @if (prescription | canInterruptTreatment : performerTask : currentUser) {
      <button
        type="button"
        (click)="service.openInterruptExecutionDialog(prescription, performerTask, patient)"
        mat-icon-button
        data-cy="prescription-interrupt-execution-button"
        [attr.aria-label]="'prescription.ariaLabel.interrupt' | translate"
      >
        <mat-icon>pause_circle</mat-icon>
      </button>
    }
    @if (prescription | canRestartTreatment : performerTask : performerTask.careGiverSsin) {
      <button
        type="button"
        (click)="service.openRestartExecutionDialog(prescription, performerTask, patient)"
        mat-icon-button
        data-cy="prescription-restart-execution-button"
        [attr.aria-label]="'prescription.ariaLabel.restart' | translate"
      >
        <mat-icon>play_circle</mat-icon>
      </button>
    }
  </div>
}
