<div class="container" data-cy="prescription-details-beneficiary-container">
  <span class="label" data-cy="prescription-details-beneficiary-container-label">{{ 'prescription.beneficiary' | translate }}</span>
  <div class="data" data-cy="prescription-details-beneficiary-container-data">
    <span class="full_name" data-cy="prescription-details-beneficiary-container-data-full-name">{{ patient?.lastName }} {{ patient?.firstName }}</span>
    <span class="gender" data-cy="prescription-details-beneficiary-container-data-gender">({{ 'common.gendersFull.' + patient?.gender | translate }})</span>
  </div>
  <div class="other_data" data-cy="prescription-details-beneficiary-other-data">
    <span class="ssin" data-cy="prescription-details-beneficiary-other-data-ssin">{{ patient?.ssin | formatSsin }}</span>
    <span class="prescription_shortcode" data-cy="prescription-details-beneficiary-other-data-shortcode">{{ prescription?.shortCode }} </span>
  </div>
</div>
