@use '@angular/material' as mat;
@use '@myhealth-belgium/design-kit' as mh;

@use '../../../../node_modules/@smals/vas-evaluation-form-ui-material' as evf;

@include mh.use-font-material-symbols( true, url('@reuse/assets/fonts/MatSymbols-Rounded.ttf'));
@include mh.use-globals();
@include mh.use-classes();

evf-form-detail-group{
  display: flex !important;
  flex-direction: column;
  gap: mh.$spacing-rem-l;

  .info-item {
    display: flex;
    flex-direction: column;


    & > div:first-of-type {
      & > evf-detail-label {
        padding: 0;
        p {
          @include mh.font-default-semibold();
          margin: 0;
        }
      }
    }

    & > div:nth-child(2) {
      & > .value{
        * {
          align-items: center;
          margin: 0;
        }
      }
    }

  }
}
