@use '@angular/material' as mat;
@use '../../../../node_modules/@smals/vas-evaluation-form-ui-material' as evf;

$app-primary: mat.m2-define-palette(mat.$m2-light-blue-palette, 800);
$app-accent: mat.m2-define-palette(mat.$m2-light-blue-palette, A200, A100, A400);
$app-warn: mat.m2-define-palette(mat.$m2-red-palette);
$app-theme: mat.m2-define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));
@include mat.elevation-classes();
@include mat.app-background();
@include mat.ripple-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.elevation-classes();
@include mat.app-background();
@include mat.icon-theme($app-theme);
@include mat.progress-spinner-theme($app-theme);
@include evf.evf-theme($app-primary, 800, 600, 700);

evf-form-detail-layout > .info-item {
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  flex-basis: 0;
  align-items: baseline;

  & > div:first-of-type {
    flex-basis: 0;
    flex-grow: 1;

    & > evf-detail-label {
      flex-grow: 1;
      font-weight: 700;
      text-align: right;

      p {
        font-size: medium;
      }
    }
  }

  & > div {
    flex-basis: 0;
    flex-grow: 2;
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
