<mh-alert
  [usage]="alert()"
  [backgroundColor]="'color'"
  [alertTitle]="title() | translate"
  [alertSubtitle]="subTitle() | translate"
  [dismissMode]="'pinned'"
  [actionButton]="showRetry()"
  [buttonLabel]="'common.tryAgain' | translate"
  [buttonDisabled]="false"
  (actionButtonClicked)="clickRetry.emit()">
  @if (showBody() || hasContent()) {
    <div alert-details>
      @if (genericErrorMsgKey) {
        {{ genericErrorMsgKey | translate }}
      } @else if (hasContent()) {
        <ng-content></ng-content>
      } @else if (message()) {
        {{ message() }}
      } @else {
        {{ 'somethingWentWrong' | translate }}
      }
    </div>
  }
</mh-alert>
