:host ::ng-deep {
  mh-alert {
    .material-icons {
      font-family: 'Material Symbols Rounded', 'Material Icons', sans-serif;
    }

    .flex-grow {
      justify-content: center;
    }

    mat-icon.mat-icon.material-icons {
      &::before {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;

        content: '';
        background-color: currentColor;
        mask-repeat: no-repeat;
        mask-size: contain;
      }
      &[data-mat-icon-name='emergency_home'] {
        &::before {
          mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%23c41c0d%22%3E%3Cpath%20d%3D%22M449.5-85Q435-91%20423-102L102-423q-11-12-17-26.5T79-480q0-16%206-31t17-26l321-321q12-12%2026.5-17.5T480-881q16%200%2031%205.5t26%2017.5l321%20321q12%2011%2017.5%2026t5.5%2031q0%2016-5.5%2030.5T858-423L537-102q-11%2011-26%2017t-31%206q-16%200-30.5-6Zm30.5-74%20321-321-321-321-321%20321%20321%20321Zm-40-281h80v-240h-80v240Zm68.5%20108.5Q520-343%20520-360t-11.5-28.5Q497-400%20480-400t-28.5%2011.5Q440-377%20440-360t11.5%2028.5Q463-320%20480-320t28.5-11.5ZM480-480Z%22/%3E%3C/svg%3E');
        }
      }
      &[data-mat-icon-name='keyboard_arrow_up'] {
        &::before {
          mask-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%231f1f1f%22%3E%3Cpath%20d%3D%22M480-528%20296-344l-56-56%20240-240%20240%20240-56%2056-184-184Z%22/%3E%3C/svg%3E');
        }
      }

      &[data-mat-icon-name='keyboard_arrow_down'] {
        &::before {
          mask-image: url('data:image/svg+xml,%2F%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%231f1f1f%22%3E%3Cpath%20d%3D%22M480-344%20240-584l56-56%20184%20184%20184-184%2056%2056-240%20240Z%22/%3E%3C/svg%3E');
        }
      }

      &[data-mat-icon-name='close'] {
        &::before {
          mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%231f1f1f%22%3E%3Cpath%20d%3D%22m256-200-56-56%20224-224-224-224%2056-56%20224%20224%20224-224%2056%2056-224%20224%20224%20224-56%2056-224-224-224%20224Z%22/%3E%3C/svg%3E');
        }
      }

      &[data-mat-icon-name='info'] {
        &::before {
          mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%231f1f1f%22%3E%3Cpath%20d%3D%22M440-280h80v-240h-80v240Zm68.5-331.5Q520-623%20520-640t-11.5-28.5Q497-680%20480-680t-28.5%2011.5Q440-657%20440-640t11.5%2028.5Q463-600%20480-600t28.5-11.5ZM480-80q-83%200-156-31.5T197-197q-54-54-85.5-127T80-480q0-83%2031.5-156T197-763q54-54%20127-85.5T480-880q83%200%20156%2031.5T763-763q54%2054%2085.5%20127T880-480q0%2083-31.5%20156T763-197q-54%2054-127%2085.5T480-80Zm0-80q134%200%20227-93t93-227q0-134-93-227t-227-93q-134%200-227%2093t-93%20227q0%20134%2093%20227t227%2093Zm0-320Z%22/%3E%3C/svg%3E');
        }
      }
      &[data-mat-icon-name='check_circle'] {
        &::before {
          mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%231f1f1f%22%3E%3Cpath%20d%3D%22m424-296%20282-282-56-56-226%20226-114-114-56%2056%20170%20170Zm56%20216q-83%200-156-31.5T197-197q-54-54-85.5-127T80-480q0-83%2031.5-156T197-763q54-54%20127-85.5T480-880q83%200%20156%2031.5T763-763q54%2054%2085.5%20127T880-480q0%2083-31.5%20156T763-197q-54%2054-127%2085.5T480-80Zm0-80q134%200%20227-93t93-227q0-134-93-227t-227-93q-134%200-227%2093t-93%20227q0%20134%2093%20227t227%2093Zm0-320Z%22/%3E%3C/svg%3E');
        }
      }
      &[data-mat-icon-name='warning'] {
        &::before {
          mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%231f1f1f%22%3E%3Cpath%20d%3D%22m40-120%20440-760%20440%20760H40Zm138-80h604L480-720%20178-200Zm330.5-51.5Q520-263%20520-280t-11.5-28.5Q497-320%20480-320t-28.5%2011.5Q440-297%20440-280t11.5%2028.5Q463-240%20480-240t28.5-11.5ZM440-360h80v-200h-80v200Zm40-100Z%22/%3E%3C/svg%3E');
        }
      }
      &[data-mat-icon-name='notifications'] {
        &::before {
          mask-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%231f1f1f%22%3E%3Cpath%20d%3D%22M160-200v-80h80v-280q0-83%2050-147.5T420-792v-28q0-25%2017.5-42.5T480-880q25%200%2042.5%2017.5T540-820v28q80%2020%20130%2084.5T720-560v280h80v80H160Zm320-300Zm0%20420q-33%200-56.5-23.5T400-160h160q0%2033-23.5%2056.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66%200-113%2047t-47%20113v280Z%22/%3E%3C/svg%3E');
        }
      }
    }
  }
}
