<mh-alert
  [usage]="severity()"
  [backgroundColor]="'color'"
  [alertTitle]="title() ? (title()! | translate) : undefined"
  [alertSubtitle]="subTitle() ? (subTitle()! | translate) : undefined"
  [dismissMode]="dismissMode()"
  [actionButton]="retry()"
  [buttonLabel]="'common.tryAgain' | translate"
  [buttonDisabled]="false"
  (actionButtonClicked)="clickRetry.emit()"
  (closeButtonClicked)="clickClose.emit()">
  @if (resolvedMessage(); as message) {
    <div alert-details>
      @if (message.isTranslated) {
        {{ message.value }}
      } @else {
        {{ message.value | translate }}
      }
    </div>
  }

  @if (hasContent()) {
    <div alert-details>
      <ng-content></ng-content>
    </div>
  }
</mh-alert>
