<form (ngSubmit)="approveProposal()" [formGroup]="formGroup">
  <h1 mat-dialog-title>{{ 'proposal.approve.dialog.title' | translate }}</h1>
  <div mat-dialog-content>
    @if(errorCard.show){
      <app-alert
        [alert]="AlertType.Error"
        [message]="errorCard.message | translate : errorCard.translationOptions"
        [error]="errorCard.errorResponse"
        [showRetry]="false"
      ></app-alert>
    }
    <div class="mh-form-field">
      <label for="proposal-approve-reason">{{ 'proposal.approve.dialog.reason' | translate }}</label>
      <mat-form-field appearance="outline">
        <textarea
          id="proposal-approve-reason"
          [formControlName]="'reason'"
          matInput
          rows="5"
          data-cy="proposal-approve-reason-textarea"
        ></textarea>
        @if (formGroup.get('reason')?.hasError('required')){
          <mat-error>{{ 'common.mandatory' | translate }}</mat-error>
        }
      </mat-form-field>
    </div>

  </div>
  <div mat-dialog-actions>
    <button type="submit" mat-raised-button [disabled]="formGroup.get('reason')?.invalid" data-cy="dialog-confirm-button"
             >{{'common.confirm' | translate}}</button>

    <button type="button" mat-flat-button [mat-dialog-close]="undefined" data-cy="dialog-cancel-button"
            >{{'common.cancel' | translate}}</button>
  </div>
  @if (loading){
    <app-overlay-spinner mode="dialog"></app-overlay-spinner>
  }
</form>
