@use '@myhealth-belgium/design-kit' as mh;

.secondary_details_container{
  flex: 1;
  margin-left: mh.$spacing-rem-3xl;

  @media (max-width: mh.$media-breakpoint-s) {
    margin-left: unset;
    padding-top: mh.$spacing-rem-l;
    padding-bottom: mh.$spacing-rem-l;
  }

  h4{
    color: var(--mh-secondary-details-container-care-giver-title, mh.$typography-brand-primary-darker);
  }
}
