@use '@angular/material' as mat;
$app-primary: mat.define-palette(mat.$light-blue-palette, 800);
$app-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core();
@include mat.core-theme($app-theme);
@include mat.datepicker-theme($app-theme);
@include mat.select-theme($app-theme);
