@use '@angular/material' as mat;
@use '@myhealth-belgium/design-kit' as mh;


.main_details_container{

  flex: 2;
  display: flex;
  flex-direction: column;
  gap: mh.$spacing-rem-l;
  border-right: var(--mh-main-details-container-border-right, 1px solid mh.$border-brand-neutral-light);

  @media (max-width: mh.$media-breakpoint-s) {
    border-right: unset;
    border-bottom: var(--mh-main-details-container-border-bottom, 1px solid mh.$border-brand-neutral-light);
    padding-bottom: mh.$spacing-rem-l;

  }

  .row{
    .info-item{
      display: flex;
      flex-direction: column;

      > :first-child{
        @include mh.font-default-semibold();
      }

      .nihii{
        color: var(--mh-info-item-nihii, mh.$typography-brand-neutral-dark);
      }
    }
  }
}
