@use '@myhealth-belgium/design-kit' as mh;

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

tr.no-models {
  > td {
    text-align: center;
    cursor: none;
    border-radius: mh.$border-radius-m;
  }
}

tr.no-data {
  height: var(--mh-table-empty-footer-container-height, 0);
}

