@use '@myhealth-belgium/design-kit' as mh;

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

//Applied when models are successfully loaded, but there are no prescriptions
tr.no-models {
  > td {
    text-align: center;
    cursor: none;
    border-radius: mh.$border-radius-m;
  }
}

//Applied when there is an error in the models or models are still loading
tr.no-data {
  height: var(--mh-table-empty-footer-container-height, 0);
}
