<app-dialog-layout [title]="'prescription.create.cancelPrescriptionsCreation.title' | translate">
  <div dialog-content [formGroup]="checkboxesGroup">
    @if (checkboxesGroup.invalid && checkboxesGroup.touched) {
    <div class="mat-mdc-form-field checkbox-validation-error">
      <div class="mat-mdc-form-field-error-wrapper">
        <mat-error>{{ 'prescription.create.cancelPrescriptionsCreation.noSelectionError' | translate }}</mat-error>
      </div>
    </div>
    }
    <div>
      <mat-checkbox
        [checked]="formsToDelete.length === prescriptionForms.length"
        [indeterminate]="formsToDelete.length > 0 && formsToDelete.length !== prescriptionForms.length"
        (change)="$event.checked ? selectAll() : deselectAll()">
        {{ 'prescription.create.cancelPrescriptionsCreation.cancelAll' | translate }}
      </mat-checkbox>
      <div class="checkbox-list">
        @for (prescriptionForm of prescriptionForms; track prescriptionForm.trackId) {
        <mat-checkbox
          [checked]="formsToDelete.includes(prescriptionForm.trackId)"
          (change)="toggleDeleteForm(prescriptionForm.trackId, $event.checked)"
          >{{ prescriptionForm.templateCode | templateName }}
        </mat-checkbox>
        }
      </div>
    </div>
  </div>

  <ng-container dialog-actions>
    <button type="button" mat-flat-button (click)="cancelPrescriptions()">{{ 'common.confirm' | translate }}</button>
    <button type="button" mat-stroked-button [mat-dialog-close]="undefined">{{ 'common.close' | translate }}</button>
  </ng-container>
</app-dialog-layout>
