<mat-card appearance="outlined" class="error-card">
  @if(title) {
    <mat-card-title>
      {{ title | translate }}
    </mat-card-title>
  }

  <mat-card-content [className]="'message'">

    @if(genericErrorMsgKey) {
      {{ genericErrorMsgKey | translate }}
    }
    @else if(message) {
      {{ message }}
    } @else {
      {{ 'somethingWentWrong' | translate }}
    }
  </mat-card-content>
  @if(showRetry && error?.status !== 403) {
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        (click)="clickRetry.emit()"
      >
        <mat-icon>refresh</mat-icon>
        {{ "common.tryAgain" | translate }}
      </button>
    </mat-card-actions>
  }
</mat-card>
