<table mat-table [dataSource]="prescriptionModels" class="mat-elevation-z8">

  <ng-container matColumnDef="creationDate">
    <th data-cy="overview-creation-date-title" mat-header-cell *matHeaderCellDef>{{'prescription.model.creationDate' | translate}}</th>
    <td [attr.data-cy]="'creation-date-cell-' + model.id" [attr.translate]="'no'" mat-cell *matCellDef="let model">
      @if(model.creationDate){
        {{model.creationDate | date:'D'}}
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th data-cy="overview-label-title" mat-header-cell *matHeaderCellDef>{{'prescription.model.label' | translate}}</th>
    <td [attr.data-cy]="'label-cell-' + model.id" [attr.translate]="'no'" mat-cell *matCellDef="let model">
      @if(model.label){
        {{model.label}}
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="template">
    <th data-cy="overview-template" mat-header-cell *matHeaderCellDef>{{'prescription.model.template' | translate}}</th>
    <td [attr.data-cy]="'template-cell-' + model.id" [attr.translate]="'no'" mat-cell *matCellDef="let model">
      @if(model.templateCode){
        {{model.templateCode | templateName}}
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th data-cy="overview-actions" mat-header-cell *matHeaderCellDef>{{'prescription.model.actions' | translate}}</th>
    <td [attr.data-cy]="'actions-cell-' + model.id" [attr.translate]="'no'" mat-cell *matCellDef="let model">
      <button
        mat-raised-button
        color="accent"
        (click)="onActionButtonClick($event, model)"
      >
        <mat-icon>delete</mat-icon>
        {{ 'prescription.model.delete.title' | translate }}
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="noRecord">
    <td mat-footer-cell *matFooterCellDef colspan="4">
      <span>{{'prescription.model.noModels' | translate}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr [class.inactive]="row.status === 'DONE' || row.status === 'CANCELLED' || row.status === 'EXPIRED'"
      [attr.data-cy]="'model-row-' + row.id"
      (click)="clickPrescriptionModel.emit(row)"
      (keydown.enter)="clickPrescriptionModel.emit(row)"
      mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  @if(prescriptionModels.length === 0) {
      <tr class="no-models" mat-footer-row *matFooterRowDef="['noRecord']"></tr>
  }
</table>
