@if (status !== undefined && parsedTemplate) {
  <evf-dynamic-form
    [template]="parsedTemplate"
    [elementLayout]="elementLayout"
    [submitted]="submitted"
    [showButtons]="false"
    [metadata]="{
    pssActive: status
    }"
    (changeElementGroup)="setElementGroup($event)"
  ></evf-dynamic-form>
}

<ng-template #elementLayout let-content="content" let-elementControl="elementControl" let-label="label" let-body="body" let-subLabel="subLabel">
  <div [class.evf-element-wrapper]="!['row', 'radio'].includes(elementControl.parent?.element?.viewType)" [class.has-evf-required-wrapper]="elementControl.parent?.element?.custom?.['required']" [class.has-evf-required-wrapper-with-labels]="hasEvfRequiredWrapperWithLabel(elementControl.parent)">
    <!-- Avoids having two times the label for the expansionPanelTextArea component (one already defined in expansion panel header) -->
    @if (elementControl.element.viewType !== 'expansionPanelTextarea'){
      <div>
        <ng-container *ngTemplateOutlet="label"></ng-container>
      </div>
    }
    <div>
      <ng-container *ngTemplateOutlet="body"></ng-container>
      <ng-container *ngTemplateOutlet="content"></ng-container>
      <ng-container *ngTemplateOutlet="subLabel"></ng-container>
    </div>
  </div>
</ng-template>
