<div class="container">
  <ng-container *ngIf="viewState$() as viewState">
    <app-overlay-spinner *ifStatusLoading="viewState" mode="inline"></app-overlay-spinner>
    <app-error-card
      *ifStatusError="viewState"
      [message]="'prescription.errors.failedToLoadPrescription' | translate"
      [error]="viewState.error.prescription"
      [showRetry]="showRetryButton()"
      (clickRetry)="loadPrescriptionOrProposal()"
    ></app-error-card>
    <ng-container *ifStatusSuccess="viewState">
      <ng-container *ngIf="viewState.data!.prescription as prescription">
        <div class="card no-padding">
          <div class="card-column">
            <div>
              <div class="prescription-header">
                <div class="id" data-cy="prescription-id">Id : {{prescription.id}}</div>
                <div class="default-info">
                  <button data-cy="prescription-print-button" mat-icon-button (click)="print()" [attr.aria-label]="'prescription.ariaLabel.print' | translate">
                    <mat-icon>print</mat-icon>
                  </button>
                  <div class="status" data-cy="prescription-status" [ngStyle]="{'border-color': getStatusBorderColor(prescription.status!), 'background-color': getStatusBorderColor(prescription.status!)}">{{'prescription.statuses.' + prescription.status | translate}}</div>
                </div>
              </div>
              <div class="actions">
                <button
                  *ngIf="prescription | canCancelPrescriptionOrProposal: viewState.data!.patient.ssin: viewState.data!.currentUser"
                  mat-raised-button
                  type="button"
                  color="accent"
                  (click)="openCancelPrescriptionDialog(prescription, viewState.data!.patient)"
                  data-cy="prescription-cancel-treatment-button"
                  [attr.aria-label]="'prescription.ariaLabel.reject' | translate"
                ><mat-icon>cancel</mat-icon>
                  {{'prescription.cancel.action' | translate}}
                </button>
                <button
                  *ngIf="prescription | canDuplicatePrescription: viewState.data!.currentUser"
                  mat-raised-button
                  type="button"
                  (click)="handleDuplicateClick()"
                  data-cy="prescription-duplicate-button"
                ><mat-icon>control_point_duplicate</mat-icon>
                  {{'prescription.duplicate' | translate}}
                </button>
                <button
                  *ngIf="prescription | canExtendPrescription: viewState.data!.currentUser"
                  mat-raised-button
                  type="button"
                  (click)="handleExtendClick()"
                  data-cy="prescription-extend-button"
                ><mat-icon>edit_document</mat-icon>
                  {{'prescription.extend' | translate}}
                </button>
              </div>
              <h2 data-cy="prescription-type">{{prescription.templateCode | templateName}}</h2>
              <div class="row">
                <div class="info-item">
                  <div data-cy="prescription-date-label">{{'prescription.prescriptionDate' | translate}}</div>
                  <div data-cy="prescription-date">{{$any(prescription.authoredOn) | date: 'D'}}</div>
                </div>
              </div>
              <div class="row">
                <div class="info-item">
                  <div data-cy="prescription-author-label">{{'prescription.author' | translate}}</div>
                  <div data-cy="prescription-author">
                    <app-professional-display
                      [professional]="prescription.requester"
                      [currentUser]="viewState.data?.currentUser"
                    ></app-professional-display>
                    @if (prescription.requester?.id?.profession) {
                      ({{ 'common.professions.' + prescription.requester?.id?.profession | translate }})<br>
                    }
                    @if (prescription.requester?.nihii8) {
                      {{prescription.requester!.nihii8 | formatNihdi: prescription.requester?.id?.qualificationCode }}
                    } @else if (prescription.requester?.nihii11) {
                      {{prescription.requester!.nihii11 | formatNihdi: prescription.requester?.id?.qualificationCode}}
                    }
                  </div>
                </div>
              </div>
              @if (viewState.data!.patient; as patient) {
                <div class="row">
                  <div class="info-item">
                    <div data-cy="prescription-patient-label">{{ 'prescription.patient' | translate }}</div>
                    <div data-cy="prescription-patient">
                      {{patient.firstName || ''}} {{patient.lastName || ''}}<br/>
                      {{patient.ssin | formatSsin}}
                      @if(prescription.templateCode === 'ANNEX_82') {
                        <br/>{{patient.birthDate | date: 'dd/MM/yyyy'}}
                        <br/>{{'common.gender' | translate}}: {{'common.genders.'+patient.gender | translate}}
                      }
                    </div>
                  </div>
                </div>
              }


              @if (prescription.shortCode) {
                <div class="row">
                  <div class="info-item">
                    <div data-cy="prescription-shortcode-label">{{'prescription.shortcode' | translate}}</div>
                    <div data-cy="prescription-shortcode">
                      {{prescription.shortCode}}
                    </div>
                  </div>
                </div>
              }

              <div class="row">
                <div class="info-item">
                  <div data-cy="prescription-validity-period-label">{{'prescription.validityPeriod' | translate}}</div>
                  <div data-cy="prescription-validity-period">
                    {{prescription.period.start | date}} - {{prescription.period.end | date}}
                  </div>
                </div>
              </div>
              @if(viewState.data!.decryptedResponses) {
                <nihdi-referral-prescription-form-details
                  [lang]="lang"
                  [template]="viewState.data!.templateVersion"
                  [responses]="viewState.data!.decryptedResponses"
                  [services]="services"
                  [status]="status$.getValue()"
                  [isProfessional]="isProfessional$()"
                ></nihdi-referral-prescription-form-details>
              }

              @if(prescription.note) {
              <div class="row">
                <div class="info-item">
                  <div data-cy="prescription-note-label">{{'prescription.note' | translate}}</div>
                  <div data-cy="prescription-note">
                    {{prescription.note}}
                  </div>
                </div>
              </div>
              }
            </div>
            <div>
              <div class="caregiver-actions">
                <ng-container *ngIf="!viewState.data!.performerTask?.careGiverSsin">
                  @if(prescription.intent.toLowerCase() !== 'proposal') {
                    <button
                      *ngIf="prescription | canSelfAssign"
                      (click)="onSelfAssign(prescription,viewState.data!.currentUser)"
                      mat-raised-button
                      type="button"
                      data-cy="prescription-self-assign-button"
                    >
                      <mat-icon>add_task</mat-icon>
                      {{'prescription.assignMe' | translate}}</button>
                    <button
                      *ngIf="prescription | canStartTreatment"
                      (click)="openStartExecutionDialog(prescription)"
                      mat-raised-button
                      type="button"
                      color="accent"
                      data-cy="prescription-start-execution-button"
                    >
                      <mat-icon>play_circle</mat-icon>
                      {{'prescription.startExecution.action' | translate}}</button>
                  }
                </ng-container>
              </div>
              <div class="caregiver-title">
                <div>
                  <h3 data-cy="prescription-assign-to-label">{{'prescription.careGivers' | translate}}</h3>
                </div>
                <div>
                  <button
                    *ngIf="prescription | canAssignCaregiver"
                    mat-raised-button
                    type="button"
                    color="accent"
                    (click)="openAssignDialog(prescription)"
                    data-cy="prescription-assign-caregiver-button"
                  >
                    <mat-icon>add</mat-icon>
                    {{'prescription.assign' | translate}}</button>
                </div>
              </div>
              <div class="caregiver-list" *ngIf="(prescription.performerTasks && prescription.performerTasks.length > 0) || (prescription.organizationTasks && prescription.organizationTasks.length > 0)" data-cy="prescription-assign-to-list">
                <ng-container *ngFor="let task of prescription.organizationTasks">
                  <div class="organization-row " data-cy="prescription-assign-to">
                    <div class="caregiver-name">
                      @if(!task.organization.organizationName){
                        <b>{{'common.organization.notFound' | translate}}</b>
                        <mat-icon matTooltip="{{'common.organization.tooltip' | translate}}"
                                  matTooltipPosition="after">
                          error
                        </mat-icon>
                      }
                      @else{
                        <b>{{task.organization.organizationName | formatMultilingualObject: 'name': currentLang}}</b>
                      }
                      <ng-container *ngIf="task.organization.nihii8 || task.organization.nihii11">
                        ({{ task.organization.nihii8 ?? task.organization.nihii11 | formatNihdi: task.organization.qualificationCode }})
                      </ng-container><br>
                      <ng-container *ngIf="task.executionPeriod?.start">
                        <span style="font-size: 14px; color:#8f8f8f">{{task.executionPeriod?.start! | date: 'dd/MM/yyyy'}} - </span>
                      </ng-container>
                      <ng-container *ngIf="task.executionPeriod?.end">
                        <span style="font-size: 14px; color:#8f8f8f">{{task.executionPeriod?.end! | date: 'dd/MM/yyyy'}}</span>
                      </ng-container>
                    </div>
                    <div class="organization-caregiver-list">
                      <ng-container *ngFor="let performertask of task.performerTasks">
                        <div class="organization-caregiver-row">
                          <div class="organization-caregiver-name-row" data-cy="prescription-assign-to">
                            <div class="caregiver-name">
                              <app-professional-display
                                [professional]="performertask.careGiver"
                                [currentUser]="viewState.data?.currentUser"
                              ></app-professional-display>
                              @if (performertask.careGiver.nihii8) {
                                ({{performertask.careGiver.nihii8 | formatNihdi: performertask.careGiver.id.qualificationCode}})
                                <br>
                              } @else if (performertask.careGiver.nihii11) {
                                ({{performertask.careGiver.nihii11 | formatNihdi: performertask.careGiver.id.qualificationCode}})
                              }<br>
                              @if (performertask.executionPeriod?.start) {
                                <span style="font-size: 14px; color:#8f8f8f">{{performertask.executionPeriod?.start! | date: 'dd/MM/yyyy'}} - </span>
                              }
                              @if (performertask.executionPeriod?.end) {
                                <span style="font-size: 14px; color:#8f8f8f">{{performertask.executionPeriod?.end! | date: 'dd/MM/yyyy'}}</span>
                              }
                            </div>
                            <div class="button-group">
                            <button
                              *ngIf="prescription | canRejectAssignation : performertask : viewState.data!.patient.ssin : viewState.data!.currentUser"
                              (click)="openRejectAssignationDialog(prescription, performertask, viewState.data!.patient)"
                              mat-icon-button
                              data-cy="prescription-reject-assignation-button"
                            >
                              <mat-icon>cancel</mat-icon>
                            </button>
                            <button
                              *ngIf="prescription | canInterruptTreatment : performertask : viewState.data!.currentUser"
                              (click)="openInterruptExecutionDialog(prescription, performertask, viewState.data!.patient)"
                              mat-icon-button
                              data-cy="prescription-interrupt-execution-button"
                              [attr.aria-label]="'prescription.ariaLabel.interrupt' | translate"
                            >
                              <mat-icon>pause_circle</mat-icon>
                            </button>
                            <button
                              *ngIf="prescription | canRestartTreatment : performertask : viewState.data!.performerTask?.careGiverSsin"
                              (click)="openRestartExecutionDialog(prescription, performertask, viewState.data!.patient)"
                              mat-icon-button
                              data-cy="prescription-restart-execution-button"
                              [attr.aria-label]="'prescription.ariaLabel.restart' | translate"
                            >
                              <mat-icon>play_circle</mat-icon>
                            </button>
                            </div>
                          </div>
                          <ng-container *ngIf="viewState.data!.performerTask == performertask">
                            <div class="button-group">
                            <button
                              *ngIf="prescription | canStartTreatment:performertask"
                              (click)="openStartExecutionDialog(prescription, performertask)"
                              mat-raised-button
                              type="button"
                              color="accent"
                              data-cy="prescription-start-execution-button"
                            >
                              <mat-icon>play_circle</mat-icon>
                              {{'prescription.startExecution.action' | translate}}</button>
                            <button
                              *ngIf="prescription | canFinishTreatment:performertask"
                              (click)="openFinishExecutionDialog(prescription, performertask)"
                              mat-raised-button
                              type="button"
                              color="accent"
                              data-cy="prescription-finish-execution-button"
                            >
                              <mat-icon>event_busy</mat-icon>
                              {{'prescription.finishExecution.action' | translate}}</button>
                            <button
                              *ngIf="prescription | canCancelTreatment:performertask:viewState.data?.currentUser"
                              (click)="openCancelExecutionDialog(prescription, performertask, viewState.data!.patient)"
                              mat-raised-button
                              type="button"
                              color="accent"
                              data-cy="prescription-cancel-execution-button"
                            >
                              <mat-icon>cancel</mat-icon>
                              {{'prescription.cancelExecution.action' | translate}}</button>
                            <button
                              *ngIf="prescription | canTransferAssignation:performertask:viewState.data?.currentUser"
                              mat-raised-button
                              (click)="openTransferAssignationDialog(prescription, performertask)"
                              data-cy="prescription-transfer-assignation-button"
                            >
                              <mat-icon>forward</mat-icon>
                              {{'prescription.transfer' | translate}}</button>
                            </div>
                          </ng-container>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngFor="let task of prescription.performerTasks">
                  <div class="caregiver-row">
                    <div class="caregiver-name-row" data-cy="prescription-assign-to">
                      <div class="caregiver-name">
                        <app-professional-display
                          [professional]="task.careGiver"
                          [currentUser]="viewState.data?.currentUser"
                        ></app-professional-display>
                        @if (task.careGiver.nihii8) {
                          ({{task.careGiver.nihii8 | formatNihdi: task.careGiver.id.qualificationCode}})
                          <br>
                        } @else if (task.careGiver.nihii11) {
                          ({{task.careGiver.nihii11 | formatNihdi: task.careGiver.id.qualificationCode}})
                        }<br>
                        @if (task.executionPeriod?.start) {
                          <span style="font-size: 14px; color:#8f8f8f">{{task.executionPeriod?.start! | date: 'dd/MM/yyyy'}} - </span>
                        }
                        @if (task.executionPeriod?.end) {
                          <span style="font-size: 14px; color:#8f8f8f">{{task.executionPeriod?.end! | date: 'dd/MM/yyyy'}}</span>
                        }
                      </div>

                      <div class="button-group">
                      <button
                        *ngIf="prescription | canRejectAssignation : task : viewState.data!.patient.ssin : viewState.data!.currentUser"
                        (click)="openRejectAssignationDialog(prescription, task, viewState.data!.patient)"
                        mat-icon-button
                        data-cy="prescription-reject-assignation-button"
                        [attr.aria-label]="'prescription.ariaLabel.reject' | translate"
                      >
                        <mat-icon>cancel</mat-icon>
                      </button>
                      <button
                        *ngIf="prescription | canInterruptTreatment : task : viewState.data!.currentUser"
                        (click)="openInterruptExecutionDialog(prescription, task, viewState.data!.patient)"
                        mat-icon-button
                        data-cy="prescription-interrupt-execution-button"
                        [attr.aria-label]="'prescription.ariaLabel.interrupt' | translate"
                      >
                        <mat-icon>pause_circle</mat-icon>
                      </button>
                      <button
                        *ngIf="prescription | canRestartTreatment : task : viewState.data!.performerTask?.careGiverSsin"
                        (click)="openRestartExecutionDialog(prescription, task, viewState.data!.patient)"
                        mat-icon-button
                        data-cy="prescription-restart-execution-button"
                        [attr.aria-label]="'prescription.ariaLabel.restart' | translate"
                      >
                        <mat-icon>play_circle</mat-icon>
                      </button>
                      </div>
                    </div>
                    <ng-container *ngIf="viewState.data!.performerTask == task">
                      <div class="button-group">
                      <button
                        *ngIf="prescription | canStartTreatment:task"
                        (click)="openStartExecutionDialog(prescription, task)"
                        mat-raised-button
                        type="button"
                        color="accent"
                        data-cy="prescription-start-execution-button"
                      >
                        <mat-icon>play_circle</mat-icon>
                        {{'prescription.startExecution.action' | translate}}</button>
                      <button
                        *ngIf="prescription | canFinishTreatment:task"
                        (click)="openFinishExecutionDialog(prescription, task)"
                        mat-raised-button
                        type="button"
                        color="accent"
                        data-cy="prescription-finish-execution-button"
                      >
                        <mat-icon>event_busy</mat-icon>
                        {{'prescription.finishExecution.action' | translate}}</button>
                      <button
                        *ngIf="prescription | canCancelTreatment:task:viewState.data?.currentUser"
                        (click)="openCancelExecutionDialog(prescription, task, viewState.data!.patient)"
                        mat-raised-button
                        type="button"
                        color="accent"
                        data-cy="prescription-cancel-execution-button"
                      >
                        <mat-icon>cancel</mat-icon>
                        {{'prescription.cancelExecution.action' | translate}}</button>
                      <button
                        *ngIf="prescription | canTransferAssignation:task:viewState.data?.currentUser"
                        mat-raised-button
                        (click)="openTransferAssignationDialog(prescription, task)"
                        data-cy="prescription-transfer-assignation-button"
                      >
                        <mat-icon>forward</mat-icon>
                        {{'prescription.transfer' | translate}}</button>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="card no-padding"
             *ngIf="isProposalValue">
          <div class="card-column">
            <div>
              <div class="prescriber-title">
                <p>
        <span data-cy="proposal-date-label">
          @if(!prescription.requester?.healthcarePerson?.lastName){
            @if (prescription.requester?.id?.ssin === viewState.data?.currentUser?.ssin){
              {{
                'proposal.proposalInfoTitle' | translate: {
                  firstName: viewState.data?.currentUser?.firstName || '',
                  lastName: viewState.data?.currentUser?.lastName || '',
                  date: $any(prescription.authoredOn) | date: 'D'
                }
              }}
            }
            @else{
              {{
                'proposal.proposalInfoTitle' | translate: {
                  firstName: 'common.professional.notFound' | translate,
                  lastName: '',
                  date: $any(prescription.authoredOn) | date: 'D'
                }
              }}
              <mat-icon matTooltip="{{'common.professional.tooltip' | translate}}"
                        matTooltipPosition="right">
                          error
                        </mat-icon>
            }
          }
          @else{
            {{
              'proposal.proposalInfoTitle' | translate: {
                firstName: prescription.requester?.healthcarePerson?.firstName || '',
                lastName: prescription.requester?.healthcarePerson?.lastName || '',
                date: $any(prescription.authoredOn) | date: 'D'
              }
            }}
          }
          </span>
                </p>
              </div>
              <div class="prescriber-actions">
                <button
                  *ngIf="prescription | canApproveProposal"
                  (click)="openApproveProposalDialog(prescription)"
                  mat-raised-button
                  type="button"
                  color="success"
                  data-cy="approve-proposal-action-button"
                >
                  <mat-icon>done</mat-icon>
                  {{ 'proposal.approve.action' | translate }}
                </button>

                <button
                  *ngIf="prescription | canRejectProposal"
                  (click)="openRejectProposalDialog(prescription)"
                  mat-raised-button
                  type="button"
                  color="reject"
                  data-cy="reject-proposal-action-button"
                >
                  <mat-icon>close</mat-icon>
                  {{ 'proposal.reject.action' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <nihdi-referral-prescription-pdf
          *ngIf="printer"
          [lang]="lang"
          [prescription]="prescription"
          [responses]="viewState.data!.decryptedResponses"
          [patient]="viewState.data!.patient"
          [template]="viewState.data!.template"
          [templateVersion]="viewState.data!.templateVersion"
          (pdfReady)="printer = false"
        ></nihdi-referral-prescription-pdf>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<app-overlay-spinner *ngIf="loading"></app-overlay-spinner>
