@use '@angular/material' as mat;
@use '../../mat-button-variants' as button-variants;

$app-primary: mat.define-palette(mat.$light-blue-palette, 800);
$app-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@include mat.ripple();
@include mat.icon-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.fab-theme($app-theme);
@include mat.icon-button-theme($app-theme);
@include mat.ripple-theme($app-theme);
@include mat.progress-spinner-theme($app-theme);
@include button-variants.color($app-theme);

:host {
  display: block;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2, h3 {
  margin-top: 0;
}

h3 {
  margin-bottom: 0.25rem;
}

.info-item {
  display: flex;
  column-gap: 1.5rem;

  > div {
    flex-basis: 0;
    flex-grow: 2;

    &:first-of-type {
      flex-grow: 1;
      font-weight: bold;
      text-align: right;
    }
  }

  margin-bottom: 1rem;
}

.row {
  @media (min-width: 512px) {
    display: flex;
    column-gap: 1.5rem;
  }

  > * {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.card-row {
  @media (min-width: 900px) {
    display: flex;
    column-gap: 1.5rem;

    > * {
      flex-basis: 0;

      &:first-child {
        flex-grow: 63;
      }

      &:last-child {
        flex-grow: 37;
      }
    }
  }
}

.card-spacer {
  display: none;
  @media (min-width: 900px) {
    display: inherit;
    visibility: hidden;
  }
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 14px #0000001f;

  &.no-padding {
    padding: 0;
  }

  &.card-dark {
    background-color: #d7d7d7;
  }

  .card-column {

    > * {
      padding: 1rem;

      &:nth-child(n+2):last-child {
        flex-grow: 37;
        border-top: 2px dashed #e2e2e2;
      }
    }

    @media (min-width: 900px) {
      display: flex;

      > * {
        flex-basis: 0;

        &:first-child {
          flex-grow: 63;
        }

        &:nth-child(n+2):last-child {
          flex-grow: 37;
          border-left: 2px dashed #e2e2e2;
          border-top: none;
        }
      }
    }
  }
}

.caregiver-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding-top: 0.4rem;
}

.caregiver-list {
  background-color: #f5f5f5;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 0 1rem;
}

.organization-caregiver-list {
  background-color: #e2e2e2;
  border-radius: 1rem;
  margin: 0 1rem;
  padding: 0 1rem;
}

.caregiver-row {
  border-bottom: 1px solid #e2e2e2;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rep;

  &:last-of-type {
    border-bottom: none;
  }

}

.organization-row {
  border-bottom: 1px solid #cecece;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rep;

  &:last-of-type {
    border-bottom: none;
  }

}

.organization-caregiver-row {
  border-bottom: 1px solid #cecece;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rep;

  &:last-of-type {
    border-bottom: none;
  }

}

.organization-caregiver-name-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rep;
}


.caregiver-name-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rep;
}

.caregiver-name {
  height: 48px;
  text-transform: capitalize;
  align-items: center;
}

.go-back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: .125rem;
  margin-bottom: 1rem;

  a {
    color: black;
    text-decoration: none;
  }

  mat-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

.prescription-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.default-info {
  align-items: center;
  display: flex;
}

.status{
  padding: 0.25rem 1rem;
  border-style: solid;
  border-radius: 1rem;
  border-width: 2px;
  display: inline;
}

.actions {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  column-gap: 1rem;

  button {
    margin-right: 0.25rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.caregiver-actions {
  height: 48px;
  display: flex;
  align-items: center;

  button {
    margin-right: 0.25rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}



nihdi-referral-prescription-form-details {
  .evf-markdown {
    > p:first-of-type {
      margin-top: 0;
    }

    > p:last-of-type {
      margin-bottom: 0;
    }
  }
}
.prescriber-actions, .button-group {
  button {
    margin-right: 0.25rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
