@if (prescriptionServiceData && currentUserServiceData && patientServiceData()) {

  @let prescriptionData = prescriptionServiceData;
  @let currentUserData = currentUserServiceData;
  @let patientData = patientServiceData();

  @for (performerTask of prescriptionData.performerTasks; track performerTask) {
    <div class="caregiver_row">
      <div class="caregiver_container_row" data-cy="prescription-assign-to">
        <div class="caregiver_info">
          @if (performerTask.careGiver; as careGiver) {
            @if (!careGiver.healthcarePerson?.lastName) {
              @if (careGiver.healthcarePerson?.ssin === currentUserData.ssin) {
                <span class="caregiver_info_fullName">{{ currentUserData?.firstName }} {{ currentUserData?.lastName }} </span>
              } @else {
                <b>{{ 'common.professional.notFound' | translate }}</b>
                <mat-icon matTooltip="{{'common.professional.tooltip' | translate}}"
                          matTooltipPosition="right"
                          style="color: grey;cursor: pointer;">
                  error
                </mat-icon>
              }
            } @else {
              <span
                class="caregiver_info_fullName">{{ careGiver.healthcarePerson?.firstName }} {{ careGiver.healthcarePerson?.lastName }} </span>
            }
            @if (careGiver.nihii8 || careGiver.nihii11; as nihii) {
              <span class="caregiver_info_nihii">({{ nihii | formatNihdi: careGiver.healthcareQualification?.id?.code }})</span>
            }

            @if (careGiver.healthcareQualification?.id?.profession) {
              <div
                class="caregiver_info_profession">{{ 'common.professions.' + careGiver?.healthcareQualification?.id?.profession | translate }}
              </div>
            }

            @if(getReadableStatus(performerTask.status)) {
              <div class="performer_task_status">
                <mat-chip [disableRipple]="true"
                          [class]="getStatusColor(performerTask.status!)">{{ 'prescription.performerTaskStatus.' + getReadableStatus(performerTask.status) | translate }}
                </mat-chip>
              </div>
            }
            @if (performerTask.executionPeriod?.start) {
              <span>{{ performerTask.executionPeriod?.start! | date: 'dd/MM/yyyy' }} - </span>
            }
            @if (performerTask.executionPeriod?.end) {
              <span>{{ performerTask.executionPeriod?.end! | date: 'dd/MM/yyyy' }}</span>
            }
          }
        </div>

        @if(currentUserData.role === "patient"){
        <div class="button-group">
          @if (patientData?.ssin && (prescriptionServiceData | canRejectAssignation : performerTask : patientData?.ssin : currentUserData)) {
            <button
              type="button"
              (click)="service.openRejectAssignationDialog(prescriptionData, performerTask, patientData)"
              mat-icon-button
              data-cy="prescription-reject-assignation-button"
              [attr.aria-label]="'prescription.ariaLabel.reject' | translate"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          }
        </div>
        }
      </div>


    </div>
  }
}
