<div class="container">
  @if(intent === 'model') {
    <h2>{{'prescription.model.title' | translate}}</h2>
    <app-create-prescription-model
      [prescriptionForm]="prescriptionForms()[0]"
      [lang]="lang"
      (modelSaved)="modelSaved()"
    ></app-create-prescription-model>
  } @else if(patientState$()) {
    <h2>{{'prescription.create.action' | translate}}</h2>

        <app-create-multiple-prescriptions
          *ifStatusSuccess="patientState$()"
          [createPrescriptionForms]="prescriptionForms()"
          [intent]="intent"
          [errorCard]="errorCard"
          [patient]="patientState$()!.data!"
          [lang]="lang"
          (clickAddPrescription)="addPrescription()"
          (clickDeletePrescription)="deletePrescriptionForm($event)"
          (clickPublish)="publishPrescriptions()"
          (clickCancel)="cancelCreation()"
        ></app-create-multiple-prescriptions>
  }
</div>

<app-overlay-spinner *ngIf="loading()"></app-overlay-spinner>
