@use '@angular/material' as mat;
@use '../../../../node_modules/@smals/vas-evaluation-form-ui-material' as evf;

$app-primary: mat.define-palette(mat.$light-blue-palette, 800);
$app-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
@include mat.core();
@include mat.all-component-themes($app-theme);
@include evf.evf-theme($app-primary, 800, 600, 700);

:host {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 1rem 1rem 1rem;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

mat-form-field {

  &.no-padding {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
  .mat-mdc-form-field-infix {
    width: 88px;
  }
}

evf-dynamic-form {
  evf-radio {
    .radio-item-wrapper {
      .evf-element-wrapper {
        flex-direction: column;

        > div {
          &:first-of-type {
            padding: 0 !important;
          }

          width: 100%;
        }
      }
    }
  }
}

.infoblock {
  display: flex;
  background-color: mat.get-color-from-palette($app-primary, 50);
  border-radius: 10px;
  padding: 12px;
  margin: 8px 0;

  i {
    color: mat.get-color-from-palette($app-primary, 600);
  }

  span {
    display: block;
    margin: 2px 6px;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 14px #0000001f;

  &.card-dark {
    background-color: #d7d7d7;
  }
}

mat-dialog-container {
  position: relative;
}
