<div class="dialog-header">
  <div class="dialog-title-wrapper">
    <h4 mat-dialog-title class="dialog-title">{{ title() }}</h4>
    @if(requiredSubTitle()){
      <p><span class="required">*</span>{{ 'common.mandatory' | translate }}</p>
    }
  </div>
  <button mat-icon-button mat-dialog-close [aria-label]="'common.close' | translate">
    <mat-icon svgIcon="close" [aria-hidden]="true"></mat-icon>
  </button>


</div>

<div mat-dialog-content class="mat-dialog-content">
  <ng-content select="[dialog-content]"></ng-content>
</div>

<mat-dialog-actions align="start">
  <ng-content select="[dialog-actions]"></ng-content>
</mat-dialog-actions>
