.align-right {
  text-align: right;
}

:host {
  --mat-switch-label-text-color: rgba(0, 0, 0, 0.87);
  --mat-switch-selected-with-icon-handle-horizontal-margin: 0 -3px;
  --mat-switch-unselected-with-icon-handle-horizontal-margin: 0 -3px;
}

