@use '@myhealth-belgium/design-kit' as mh;

.patient_info_container{
  display: flex;
  gap: mh.$spacing-rem-l;
  align-items: center;

  @media (max-width: mh.$media-breakpoint-s) {
    flex-direction: column;
    align-items: flex-start;
  }

  h1{
    margin: 0;
  }
  .patient_info_inner_container{
    display: flex;
    gap: mh.$spacing-rem-l;
  }
}
