<app-responsive-wrapper>
  <ng-template #desktopTemplate>
    @if(element?.custom?.['multi']) {
      <evf-checkbox-list
        [elementControl]="elementControl"
        [metadata]="metadata"
        [elementLayout]="elementLayout"
        [submitted]="submitted"
        (events)="events"
      >
      </evf-checkbox-list>
    } @else {
      <evf-radio
        [elementControl]="elementControl"
        [metadata]="metadata"
        [elementLayout]="elementLayout"
        [submitted]="submitted"
        (events)="events"
      >
      </evf-radio>
    }

  </ng-template>

  <ng-template #mobileTemplate>
    <evf-select
      [elementControl]="getElementConrol()"
      [metadata]="metadata"
      [elementLayout]="elementLayout"
      [submitted]="submitted"
      (events)="events"
    >
    </evf-select>
  </ng-template>
</app-responsive-wrapper>
