<form [formGroup]="formGroup" (ngSubmit)="search()">
  <h1 mat-dialog-title>{{ 'prescription.transferAssignation.title' | translate }}</h1>

  <div mat-dialog-content>
    @if(errorCard.show){
      <app-alert
        [alert]="AlertType.Error"
        [message]="errorCard.message | translate : errorCard.translationOptions"
        [error]="errorCard.errorResponse"
        [showRetry]="false"
      ></app-alert>
    }
    <div>
      @if (formGroup.get('query')!; as control) {
        <mat-form-field appearance="fill">
          <mat-label>{{ 'prescription.transferAssignation.performer' | translate }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="query"
            [dropSpecialCharacters]="queryIsNumeric"
            data-cy="prescription-assign-performer"
            [mask]="queryIsNumeric ? '0-00000-00-000||0-00000-00' : ''"
            [placeholder]="'prescription.transferAssignation.searchPerformerPlaceHolder' | translate"
            [validation]="queryIsNumeric"
            maxlength="50"
            (keyup)="onKeyUp($event)">
          @if (!queryIsNumeric) {
            <mat-hint align="end">
              {{ control.value?.length }}/ {{ caregiverNameMaxLength }}
            </mat-hint>
          }
          @if (control.hasError('required')) {
            <mat-error>
              {{ 'common.mandatory' | translate }}
            </mat-error>
          }
          @if (queryIsNumeric && control.hasError('mask')) {
            <mat-error>
              {{ 'prescription.errors.invalidNihiiDigitsCount' | translate }}
            </mat-error>
          }
          @if (!queryIsNumeric && control.hasError('pattern')) {
            <mat-error>
              {{ 'prescription.errors.invalidCaregiverNameCharacters' | translate }}
            </mat-error>
          }
          @if (!queryIsNumeric && !control.hasError('pattern') && control.hasError('maxlength')) {
            <mat-error>
              {{ 'prescription.errors.invalidMaxLength' | translate:control.errors?.['maxlength'] }}
            </mat-error>
          }
          @if (!queryIsNumeric && !control.hasError('pattern') && control.hasError('minlength')) {
            <mat-error>
              {{ 'prescription.errors.invalidMinLength' | translate:control.errors?.['minlength'] }}
            </mat-error>
          }
        </mat-form-field>
      }

    </div>
    <div>
      @if (formGroup.get('cities')!; as control) {
        <mat-form-field appearance="fill">
          <mat-label>{{ 'prescription.transferAssignation.locations' | translate }}</mat-label>
          <mat-chip-grid #chipList formControlName="cities">
            @for (city of formGroup.get('cities')!.value; track city) {
              <mat-chip-row data-cy="prescription-selected-city"
                            [value]="city" (removed)="removeCity(city)">
                {{ city.zipCode }} - {{ city.cityName | translation }}
                <button data-cy="prescription-selected-city-remove" matChipRemove [attr.aria-label]="'prescription.ariaLabel.removeCity' | translate">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            }
            @if ((formGroup.get('cities')!.value?.length || 0) < 5) {
              <input
                #searchInput
                formControlName="searchCity"
                [placeholder]="'prescription.transferAssignation.zipCodeOrCityName' | translate"
                [matChipInputFor]="chipList"
                [matChipInputAddOnBlur]="false"
                [matAutocomplete]="auto"
                (blur)="searchInput.value = ''; formGroup.get('searchCity')!.reset()"
                data-cy="prescription-assign-search-city"
              >
              <mat-autocomplete
                #auto="matAutocomplete"
                [autoActiveFirstOption]="true"
                (optionSelected)="addCity($event, searchInput)"
              >
                @if (cityOptions$ | async; as cityOptions) {
                  @if(!cityOptions?.length) {
                  <mat-option data-cy="no-locality-found-message" [value]="null"
                              class="warning">
                    <mat-icon>warning</mat-icon>
                    {{ 'prescription.transferAssignation.noResults' | translate }}
                  </mat-option>
                  }
                  @for(option of cityOptions; track option){
                  <mat-option [value]="option">
                    {{ option.zipCode }} - {{ option.cityName | translation }}
                  </mat-option>
                  }
                }
              </mat-autocomplete>
            }
          </mat-chip-grid>
          @if(control.hasError('required') || control.hasError('minlength')){
          <mat-error>{{ 'common.mandatory' | translate }}
          </mat-error>
          }
        </mat-form-field>
      }
    </div>
  </div>
  <div mat-dialog-actions>
    <button data-cy="prescription-assign-search-button" mat-raised-button type="submit"
            color="accent">{{ 'common.search' | translate }}
    </button>
    <button data-cy="prescription-assign-cancel-button" mat-flat-button
            [mat-dialog-close]="undefined">{{ 'common.cancel' | translate }}
    </button>
  </div>
</form>

@if (professionalsState$ | async; as professionalState) {
  <app-overlay-spinner mode="inline" *ifStatusLoading="professionalState"></app-overlay-spinner>
  <ng-container *ifStatusSuccess="professionalState">
    <div class="results-bar">
      <div data-cy="results-number">{{professionalState.data!.length}} {{'common.results' | translate:{count:professionalState.data!.length} }}</div>
    </div>
    <div class="results">
      <table>
        @for(professional of professionalState.data; track professional) {
        <tr class="result-item"
             [attr.data-cy]="'result-professional-' + (professional.nihii8 || professional.nihii11) + (professional.id?.qualificationCode || '')"
             (click)="onTransfer(professional)"
             (keydown.enter)="onTransfer(professional)"
             tabindex="0"
        >
          <td data-cy="professional-name">
            @if(professional.healthcarePerson; as person){
            <b>{{ (person.firstName || '') + ' ' + (person.lastName || '') }}</b>
            }</td>
          @if(professional.nihii8){
          <td data-cy="professional-nihdi">{{professional.nihii8 | formatNihdi: professional.id?.qualificationCode}}</td>
          }
          @if(professional.nihii11){
          <td data-cy="professional-nihdi">{{ professional.nihii11 | formatNihdi: professional.id?.qualificationCode}}</td>
          }

          @if(professional.address) {
            <td data-cy="professional-address-street">{{ professional.address.street | formatMultilingualObject: currentLang }} {{professional.address.houseNumber || ''}} {{professional.address.box || ''}}</td>
            <td data-cy="professional-address-postalCode">{{professional.address.zipCode || ''}}</td>
            <td data-cy="professional-address-city">{{ professional.address.municipality | formatMultilingualObject: currentLang}}</td>
          }
      </tr>
        }
      </table>
    </div>
  </ng-container>
}

@if(loading){
  <app-overlay-spinner mode="dialog"></app-overlay-spinner>
}
