<div class="dialog-title">
  <h1 mat-dialog-title [attr.data-cy]="'prescription-' + mode + '-performer-title'">
    {{ translationKeyPrefixIntent + '.' + modeKey + '.title' | translate }}
  </h1>
  <button mat-icon-button mat-dialog-close [aria-label]="'common.close' | translate">
    <mat-icon svgIcon="close" [aria-hidden]="true"></mat-icon>
  </button>
</div>

<div mat-dialog-content class="dialog-content">
  @if (data.prescriptionId) { @if (errorCard.show) {
  <app-alert
    [alert]="AlertType.Error"
    [message]="errorCard.message | translate : errorCard.translationOptions"
    [error]="errorCard.errorResponse"
    [showRetry]="false"></app-alert>
  } @if (healthcareProvidersState$(); as healthcareProviderState; ) {
  <app-responsive-wrapper>
    <ng-template #desktopTemplate>
      @if (isSearchMode()){
      <section class="search-form">
        <app-alert
          [alert]="AlertType.Info"
          [title]="translationKeyPrefixIntent + '.' + modeKey + '.dialog.title' | translate"
          [message]="translationKeyPrefixIntent + '.' + modeKey + '.dialog.description' | translate"
          [showRetry]="false"></app-alert>
        <professional-search-form
          (searchCriteria)="onSearch($event)"
          [formGroup]="formGroup"></professional-search-form>
      </section>

      } @else {
      <div>
        <city-chip-list
          [formGroup]="formGroup"
          [hideUpdateSearchButton]="isSearchMode()"
          (searchCriteriaRemoval)="triggerRemoveCriteria()"
          (goBackToSearch)="goBackToSearch()"></city-chip-list>
      </div>

      <section class="results">
        <professional-table
          [requestData]="isLoading() ? [] : healthcareProvidersState$()?.data?.items ?? []"
          [total]="isLoading() ? undefined : healthcareProvidersState$()?.data?.total ?? 0"
          [query]="searchCriteria$()?.query ?? ''"
          [page]="pageable().page"
          [pageSize]="pageable().pageSize"
          [loading]="isLoading()"
          [currentLang]="currentLang"
          (selectProfessional)="executeAction($event)"
          (changePage)="loadData($event)"></professional-table>
      </section>
      }
    </ng-template>

    <ng-template #mobileTemplate>
      <section class="search-form">
        <app-alert
          [alert]="AlertType.Info"
          [title]="translationKeyPrefixIntent + '.' + modeKey + '.dialog.title' | translate"
          [message]="translationKeyPrefixIntent + '.' + modeKey + '.dialog.description' | translate"
          [showRetry]="false"></app-alert>

        <professional-search-form (searchCriteria)="onSearch($event)" [formGroup]="formGroup">
        </professional-search-form>
      </section>

      <section class="results">
        <h2>{{ 'professional.table.results' | translate:{ results: healthcareProviderState.data?.total ?? 0 } }}</h2>
        <professional-cards
          [professionals]="isLoading() ? [] : healthcareProvidersState$()?.data?.items ?? []"
          [total]="healthcareProvidersState$()?.data?.total || null"
          [initialDataLoading]="isLoading()"
          [currentLang]="currentLang"
          [prescriptionId]="data.prescriptionId"
          [category]="data.category"
          [intent]="data.intent"
          [query]="searchCriteria$()?.query ?? ''"
          [zipCodes]="zipCodes() ?? []"
          [error]="errorCard.show"
          (selectProfessional)="selectProfessional($event)"></professional-cards>
      </section>
    </ng-template>
  </app-responsive-wrapper>
  } @if (loading) {
  <app-overlay-spinner mode="dialog"></app-overlay-spinner>
  } } @else {
  <app-alert
    [alert]="AlertType.Warning"
    [message]="'common.somethingWentWrong' | translate"
    [showRetry]="true"
    (clickRetry)="dialogRef.close()"></app-alert>
  } @if (loading) {
  <app-overlay-spinner mode="dialog"></app-overlay-spinner>
  }
</div>

@if (!isDesktop()){
<div mat-dialog-actions class="dialog-actions responsive-wrapper">
  <div class="action-buttons-group">
    <button
      type="button"
      mat-flat-button
      (click)="onSubmitSelectedValue()"
      [disabled]="!selectedProfessional()"
      [attr.data-cy]="'prescription-' + mode + '-search-button'">
      {{ 'professional.table.select' | translate }}
    </button>
    <button
      class="cancel_button"
      type="button"
      mat-stroked-button
      [mat-dialog-close]="undefined"
      [attr.data-cy]="'prescription-' + mode + '-cancel-button'">
      {{ 'common.cancel' | translate }}
    </button>
  </div>
</div>
}
