<evf-form-element-layout [elementLayout]="elementLayout" [elementControl]="elementControl" [metadata]="metadata">
  <evf-element-label
    [elementControl]="elementControl"
    [invalid]="invalid"
  ></evf-element-label>
  <evf-element-body
    *ngIf="element.bodyTranslationId"
    [elementControl]="elementControl"
  ></evf-element-body>
  <evf-element-help
    *ngIf="element.helpTranslationId"
    [elementControl]="elementControl"
  ></evf-element-help>

  <mat-form-field [appearance]="appearance || 'fill'">
    <mat-label *ngIf="useMatLabel">{{element.labelTranslationId | evfLabel:elementControl.elementGroup}}</mat-label>
    <input
      matInput
      type="text"
      [formControl]="control"
      [placeholder]="element.placeholderTranslationId ? (element.placeholderTranslationId | evfLabel) : ''"
      [matAutocomplete]="auto"
      [id]="id"
      (keyup)="updateQuery($event)"
      (paste)="updateQueryOnPaste($event)"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
      <ng-container *ngIf="options$ | async as options">
        <ng-container *ngIf="options.hasOwnProperty('translate')">
          <mat-option [value]="null">
                        <span class="invalid"
                        ><mat-icon>warning</mat-icon>
                          {{ toErrorObject(options).translate | evfLabel }}</span
                        >
          </mat-option>
        </ng-container>
        <ng-container *ngIf="!options.hasOwnProperty('translate')">
          <mat-option *ngFor="let option of toAutocompleteOptionList(options)" [value]="option">
            {{ option.label[currentLang] }}
          </mat-option>
          <mat-option *ngIf="toAutocompleteOptionList(options).length === 0" [value]="null">
            {{ "NO_OPTION_FOUND" | evfLabel }}
          </mat-option>
        </ng-container>
      </ng-container>
    </mat-autocomplete>
    <mat-error *ngIf="control.errors">
            <span *ngIf="control.errors | commonErrors as error">{{
              error.label | evfLabel: error.values
              }}</span>
      <span *ngIf="control.hasError('pattern')">{{
        control.getError('pattern').errorTranslationId
          ? (control.getError('pattern').errorTranslationId | evfLabel)
          : ("WRONG_FORMAT" | evfLabel)
        }}</span>
      <span *ngIf="control.hasError('noAutocompleteResponse')">
                {{ "SELECT_FROM_DROPDOWN" | evfLabel }}
            </span>
    </mat-error>
  </mat-form-field>
</evf-form-element-layout>
