@use '@myhealth-belgium/design-kit' as mh;

p {
  margin: 0;
}

label {
  .required {
    color: var(--mh-label-invalid-color, mh.$typography-semantic-error-medium);
  }
}

.prescription_type_container {
  display: flex;
  gap: mh.$spacing-2xs;
  flex-direction: column;

  .prescription_type_text {
    color: mh.$typography-brand-neutral-dark;
  }
  .prescription_type_value {
    @include mh.font-default-semibold();
  }
}

.dialog-layout-content {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
