<div class="wrapper">
  <h1 mat-dialog-title>{{ 'prescription.cancel.title' | translate }}</h1>
  <div mat-dialog-content>
    @if (errorCard.show) {
      <app-error-card
        [message]="errorCard.message | translate : errorCard.translationOptions"
        [error]="errorCard.errorResponse"
        [showRetry]="false"
      ></app-error-card>
    }
    <div>
      {{
        (isProposal() ? 'proposal.cancel.message' : 'prescription.cancel.message') | translate: {
          firstName: patient.firstName,
          lastName: patient.lastName,
          templateName: (prescription.templateCode | templateName)
        }
      }}
    </div>
  </div>
  <div mat-dialog-actions>
    <button data-cy="dialog-confirm-button" mat-raised-button color="accent" (click)="cancelPrescription()">
      {{ 'common.confirm' | translate }}
    </button>
    <button data-cy="dialog-cancel-button" mat-flat-button [mat-dialog-close]="undefined">{{
        'common.cancel' |
          translate
      }}
    </button>
  </div>

  <app-overlay-spinner mode="dialog" *ngIf="loading"></app-overlay-spinner>
</div>
