<h1 *ngIf="titleLabel" mat-dialog-title>{{titleLabel! | translate: params}}</h1>

<mat-dialog-content *ngIf="messageLabel">
  {{ messageLabel! | translate: params }}
</mat-dialog-content>

<mat-dialog-actions>
  <button
    *ngIf="okLabel"
    mat-raised-button
    color="accent"
    (click)="confirm()"
  >{{  okLabel! | translate: params  }}</button>
  <button
    *ngIf="cancelLabel"
    type="button"
    mat-button
    mat-dialog-close
  >{{cancelLabel! | translate: params}}</button>
</mat-dialog-actions>
