<form (ngSubmit)="startExecution()" [formGroup]="formGroup">
  <h1 mat-dialog-title>{{'prescription.startExecution.title' | translate}}</h1>
  <div mat-dialog-content>
    @if(errorCard.show){
      <app-alert
        [alert]="AlertType.Error"
        [message]="errorCard.message | translate : errorCard.translationOptions"
        [error]="errorCard.errorResponse"
        [showRetry]="false"
      ></app-alert>
    }
    @if (formGroup.get('startDate'); as control) {
      <mat-form-field appearance="fill">
        <mat-label>{{ 'prescription.startExecution.startDate' | translate }}</mat-label>
        <input [formControlName]="'startDate'" [matDatepicker]="picker" [max]="maxDate" [min]="minDate" matInput
               type="text" data-cy="start-date-execution-prescription">
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (control.hasError('matDatepickerMin')) {
          <mat-error>{{ 'prescription.errors.dateMustBeLaterOrEqualTo' | translate:{date: (minDate | date)} }}</mat-error>
        } @if (control.hasError('matDatepickerMax')) {
          <mat-error>{{ 'prescription.errors.dateMustBeEarlierOrEqualTo' | translate: {date: (maxDate | date)} }}</mat-error>
        } @if (control.hasError('matDatepickerParse')) {
          <mat-error>{{ 'prescription.errors.invalidDateFormat' | translate }}</mat-error>
        }
      </mat-form-field>
    }
  </div>
  <div mat-dialog-actions>
    <button color="accent" data-cy="dialog-confirm-button" [disabled]="formGroup.get('startDate')?.invalid"
            mat-raised-button>{{'common.confirm' | translate}}</button>
    <button [mat-dialog-close]="undefined" data-cy="dialog-cancel-button" mat-flat-button
            type="button">{{'common.cancel' | translate}}</button>
  </div>
</form>
@if(loading){
  <app-overlay-spinner mode="dialog"></app-overlay-spinner>
}
