.wrapper {
  background-color: white;
  padding: 1rem;
}

.patient {
  display: flex;
  padding: 0 var(--uhmep-sys-padding-md) var(--uhmep-sys-padding-sm);
  column-gap: var(--uhmep-sys-gap);

  > div {
    flex-basis: 0;
    flex-grow: 7;

    &:first-of-type {
      font-weight: bold;
      text-align: right;
      flex-grow: 3;
    }
  }
}

.actions, .general-actions {
  padding: 1rem var(--uhmep-sys-padding-md);

  > div {
    display: flex;
    column-gap: var(--uhmep-sys-gap);

    > div {
      flex-basis: 0;
      flex-grow: 7;

      &.spacer {
        flex-grow: 3;
      }
    }
  }
}

.general-actions {
  background-color: var(--mat-sys-on-surface);

  button {
    margin-right: var(--uhmep-sys-margin-sm);
  }
}

:host {
  &::ng-deep {
    .mat-expansion-panel-header {
      background-color: var(--mat-sys-on-surface);

      &.mat-expanded {
        background-color: var(--mat-sys-surface-container);

        &:hover {
          background-color: var(--mat-sys-on-surface);
        }
      }

      mat-panel-description {
        flex-grow: 0.25;
      }
    }
  }

  mat-expansion-panel-header {
    &.no-toggle {
      pointer-events: none;
    }
  }

  mat-panel-title.invalid {
    color: var(--mdc-filled-text-field-error-label-text-color);
  }

  mat-panel-description {
    justify-content: flex-end;
  }
}
