<div class="wrapper">
  <div class="patient">
    <div data-cy="patient-label">
      {{'common.patient' | translate}}
    </div>
    <div>
      <div data-cy="patient-name" [attr.translate]="'no'">{{patient.firstName}} {{patient.lastName}}</div>
      <div data-cy="patient-ssin" [attr.translate]="'no'">{{patient.ssin | formatSsin}}</div>
    </div>
  </div>

  <mat-accordion [hideToggle]="createPrescriptionForms.length === 1" togglePosition="before">
    <mat-expansion-panel
      *ngFor="let prescriptionForm of createPrescriptionForms; trackBy: trackByFn; let last = last"
      [expanded]="last"
    >
      <mat-expansion-panel-header
        [class.no-toggle]="createPrescriptionForms.length === 1"
        [tabIndex]="createPrescriptionForms.length === 1 ? -1 : 0"
      >
        <mat-panel-title
          [class.invalid]="prescriptionForm.submitted && (!prescriptionForm.elementGroup?.valid || prescriptionForm.status === 'ERROR')">
          <h3 data-cy="template-label">{{prescriptionForm.templateCode | templateName}}</h3>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon *ngIf="prescriptionForm.status === 'SUCCESS'" color="accent">check_circle</mat-icon>
          <mat-icon *ngIf="prescriptionForm.status === 'ERROR'" color="warn">error</mat-icon>
          <ng-container *ngIf="prescriptionForm.templateCode | templateName as template">
            <button
              mat-icon-button
              *ngIf="prescriptionForm.status !== 'SUCCESS' && createPrescriptionForms.length > 1"
              (click)="$event.stopPropagation(); clickDeletePrescription.emit({form: prescriptionForm, templateName: template})"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container *ngIf="prescriptionForm.formTemplateState$() as formTemplateState">
        <app-overlay-spinner *ifStatusLoading="formTemplateState" mode="inline"></app-overlay-spinner>
        <div *ifStatusError="formTemplateState">Failed to load prescription form template.</div>
        <nihdi-referral-prescription-form
          *ifStatusSuccess="formTemplateState"
          [lang]="lang"
          [readonly]="prescriptionForm.status === 'SUCCESS'"
          [submitted]="!!prescriptionForm.submitted"
          [template]="formTemplateState.data!"
          (changeElementGroup)="setElementGroup(prescriptionForm, formTemplateState.data!, $any($event)?.detail)"
        ></nihdi-referral-prescription-form>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="actions">
    <div>
      <div class="spacer">&nbsp;</div>
      <div>
        <button (click)="clickAddPrescription.emit()" mat-raised-button data-cy="prescription-create-add">
          <mat-icon color="accent">add_box</mat-icon>
          {{'prescription.create.addPrescription' | translate}}
        </button>
      </div>
    </div>
  </div>
  <div class="general-actions">
    <div>
      <div class="spacer">&nbsp;</div>
      <div>
        <button
          (click)="clickPublish.emit()"
          [disabled]="createPrescriptionForms.length === 0"
          color="accent"
          mat-raised-button
          data-cy="prescription-create-publish"
        >{{'prescription.create.publish' | translate}}
          <ng-container *ngIf="createPrescriptionForms.length > 1">({{numberOfPrescriptionsToCreate}})</ng-container>
        </button>
        <button
          (click)="clickCancel.emit()"
          mat-flat-button
          data-cy="prescription-create-cancel"
        >{{'common.cancel' | translate}}</button>
      </div>
    </div>
  </div>
</div>
