.wrapper {
  background-color: white;
  padding: 1rem;
}

.patient {
  display: flex;
  padding: 0 24px 16px;
  column-gap: 1rem;
  font-size: 14px;

  > div {
    flex-basis: 0;
    flex-grow: 7;

    &:first-of-type {
      font-weight: bold;
      text-align: right;
      flex-grow: 3;
    }
  }
}

.actions, .general-actions {
  padding: 1rem 24px;

  > div {
    display: flex;
    column-gap: 1rem;

    > div {
      flex-basis: 0;
      flex-grow: 7;

      &.spacer {
        flex-grow: 3;
      }
    }
  }
}

.general-actions {
  background-color: #f2f2f2;

  button {
    margin-right: 8px;
  }
}

:host {
  &::ng-deep {
    .mat-expansion-panel-header {
      background-color: #f2f2f2;

      &:hover {
        background-color: #e2e2e2;
      }

      &.mat-expanded {
        background-color: #fff;

        &:hover {
          background-color: #f2f2f2;
        }
      }

      mat-panel-description {
        flex-grow: 0.25;
      }
    }
  }

  mat-expansion-panel-header {
    &.no-toggle {
      pointer-events: none;
    }
  }

  mat-panel-title.invalid {
    color: #f44336;
  }

  mat-panel-description {
    justify-content: flex-end;
  }
}
