@use '@myhealth-belgium/design-kit' as mh;

@include mh.override-mat-button();
@include mh.override-mat-button-icon(false);

.mat-mdc-button.mat-error{
  &:not(:disabled){
    color: var(--mh-mat-button-error-color, mh.$error-30);
    --mat-text-button-state-layer-color: var(--mh-mat-button-error-color, mh.$error-30);
  }
  text-decoration: var(--mh-mat-button-error-decoration, underline);
}

.referral-prescription-form, .form-model-group {
  font-family: var(--mat-expansion-container-text-font, var(--mat-sys-body-large-font));
  font-size: var(--mat-expansion-container-text-size, var(--mat-sys-body-large-size));
  font-weight: var(--mat-expansion-container-text-weight, var(--mat-sys-body-large-weight));
  line-height: var(--mat-expansion-container-text-line-height, var(--mat-sys-body-large-line-height));
  letter-spacing: var(--mat-expansion-container-text-tracking, var(--mat-sys-body-large-tracking));
}

.referral-prescription-label{
  display: block;
  .required{
    color: var(--mdc-outlined-text-field-error-outline-color, mh.$error-30);
  }
}

